<div class="menu-item">
  <%= menu_link_to 'Friends', user_friendships_path(current_user) %>
</div>
<div class="menu-item">
<%= link_to "#{current_user.name}", user_path(current_user), class: 'username' %>
</div>