<section class="user-section">
  <div>
    <h2 class="inline"><%= "Name: #{@user.name}" %></h2>
    <%= link_to 'Invite to friendship', user_friendships_path(@user), method: :post, class: 'btn btn-secondary' %>
  </div>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
