// Place all the styles related to the friendships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-secondary {
  background-color: #689f38;
  color: #dcedc8;
  padding: 4px 16px;
  border-radius: 4px;
  font-weight: 900;
  &:hover {
    background-color: #8bc34a;
    color: white;
  }
}

